@page
@using InstaDOTNET.Models.Interfaces
@inject IImage ImageManager

@{ 
    var images = await ImageManager.GetImagesAsync();
}

@foreach (var image in images)
{
    <div>
        <h3>@image.Name</h3>
        <h4>@image.URL</h4>
        <table>
            <tbody>
                <tr>
                    <td>Photo by: </td>
                    <td>@image.Author</td>
                </tr>
            </tbody>
        </table>
        <p>"@image.Caption"</p>
    </div>
}