@page
@using InstaDOTNET.Models.Interfaces
@inject IImage ImageManager
@{ 
    Layout = "_Layout";
}
@{
    var images = await ImageManager.GetImagesAsync();
}
@*<div class="center pad-top-m pad-bottom-m">
    <a asp-page="/Images/Manage" class="button hover-shadow">+ Add a Post</a>
</div>*@
<main>
    @foreach (var image in images)
    {
        <div class="pad-bottom-m pad-top-s pad-left-s pad-right-s frame">
            <div class="polaroid hover-shadow pad-bottom-s ">
                <img src="@image.URL" class="thin-border" />
                <h2><a class="text-red a">@image.Name</a></h2>
                <table>
                    <tbody>
                        <tr class="pad-bottom-xs text-s">
                            <td class="pad-right-xs bold">By:</td>
                            <td>@image.Author</td>
                        </tr>
                    </tbody>
                </table>
                <div class="caption text-caption pad-top-xs scrollable">"@image.Caption"</div>
            </div>
        </div>
    }
</main>
