@page "{id?}"
@model InstaDOTNET.Pages.Images.ManageModel
@{
    ViewData["Title"] = "Manage";
}
<h1>Manage</h1>

<form method="post">
    <label asp-for="Image.Name"></label>
    <input asp-for="Image.Name" />

    <label asp-for="Image.Author"></label>
    <input asp-for="Image.Author" />

    <label asp-for="Image.URL"></label>
    <input asp-for="Image.URL" />

    <label asp-for="Image.Caption"></label>
    <textarea rows="4" asp-for="Image.Caption"></textarea>

    <button type="submit">Save Changes</button>
    <button type="submit" asp-page-handler="Delete">Delete Post</button>
</form>